<ion-content  [fullscreen]="true" [scrollY]="false">
  <p class="song-duration-timer">{{ songDuration * 1000 | date:'mm:ss' }}</p>
  <div class="center column">
    <div class="trapezoid-guitar">
      <div class="flex-1 flex-column">
        <div style="width: 80px;"></div>
        <div *ngFor="let item of leftQueue" [ngStyle]="{'top': item.top + 'px'}" class="guitar-button bg-red font-md absolute"
        [mathjax]="'$'+item.derivativePair.expression+'$'"></div>
      </div>
      <div class="dividers flex-1 flex-column">
        <div style="width: 80px;"></div>
        <div *ngFor="let item of middleQueue" [ngStyle]="{'top': item.top + 'px'}" class="guitar-button bg-green font-md absolute"
        [mathjax]="'$'+item.derivativePair.expression+'$'"></div>
      </div>
      <div class="flex-1 flex-column">
        <div style="width: 80px;"></div>
        <div *ngFor="let item of rightQueue" [ngStyle]="{'top': item.top + 'px'}" class="guitar-button bg-blue font-md absolute"
        [mathjax]="'$'+item.derivativePair.expression+'$'"></div>
      </div>
    </div>
    <div class="absolute flex fire-container">
      <div class="flex-1 bg-fire" [ngStyle]="{'visibility': fireEffect1 ? 'visible' : 'hidden'}"></div>
      <div class="flex-1 bg-fire" [ngStyle]="{'visibility': fireEffect2 ? 'visible' : 'hidden'}"></div>
      <div class="flex-1 bg-fire" [ngStyle]="{'visibility': fireEffect3 ? 'visible' : 'hidden'}"></div>
    </div>
    <div class="trapezoid-buttons">
      <div class="flex-1">
        <div (click)="submitAnswer(1, buttonDerivative1)" class="button-squared bg-yellow font-md" [mathjax]="'$'+buttonDerivative1+'$'"></div>
      </div>
      <div class="flex-1">
        <div (click)="submitAnswer(2, buttonDerivative2)" class="button-squared bg-yellow font-md" [mathjax]="'$'+buttonDerivative2+'$'"></div>
      </div>
      <div class="flex-1">
        <div (click)="submitAnswer(3, buttonDerivative3)" class="button-squared bg-yellow font-md" [mathjax]="'$'+buttonDerivative3+'$'"></div>
      </div>
    </div>
  </div>
</ion-content>
