ion-content {
  --background: url(../../assets/images/rock_background.png) repeat 100% 100vh / cover;
}

.bg-fire {
  background-image: url(../../assets/images/fire_gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 125px;
}

.fire-container {
  bottom: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.trapezoid-guitar {
  position: absolute;
  width: 80%;
  height: 150vh;
  background-color: #000000D0;
  transform: perspective(10px) rotateX(0.25deg);
  margin: 50px;
  display: flex;
}

.trapezoid-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: #111111;
  border-radius: 20px;
  transform: perspective(10px) rotateX(0.5deg);
  display: flex;
}

.dividers {
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.guitar-button {
  width: 90px;
  height: 90px;
  margin: 10px auto;
  border-radius: 100%;
  border: 5px solid #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-squared {
  width: 90px;
  height: 70px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 3px 5px #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-yellow {
  background-color: var(--ion-color-warning);
  color: #000000;
}

.bg-white {
  background-color: #ffffff;
  color: #000000;
}

.bg-red {
  background-color: var(--ion-color-danger);
  color: #000000;
}

.bg-green {
  background-color: var(--ion-color-success);
  color: #000000;
}

.bg-blue {
  background-color: var(--ion-color-primary);
  color: #000000;
}

.font-md {
  font-size: 0.9em;
}

.song-duration-timer {
  color: #ffffff;
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 1.5em;
}

.absolute {
  position: absolute;
}
