.tab-theory {
  --background: url(../../assets/images/bookcase_wood.png) no-repeat center center / cover;
}

.tab-practice {
  --background: url(../../assets/images/retro_arcade_color_tint.png) no-repeat 200% center / cover;
}

.tab-scores {
  --background: url(../../assets/images/gold_color.png) no-repeat 200% center / cover;
}

ion-icon, ion-label {
  color: #ffffff;
}

ion-label {
  font-size: medium;
}
