ion-content {
  --background: url(../../assets/images/cloud_background.jpg) repeat 100% 100% / contain;
}

.margin-zero {
  margin: 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.max-height {
  height: 100%;
}

.column {
  flex-direction: column;
}

.black-text {
  color: #000000;
}

.bold-text {
  font-weight: bold;
}

.font-lg {
  font-size: 1.7em;
}

.font-md {
  font-size: 1.5em;
}

.icon-lg {
  font-size: 2em;
}

.padding {
  padding: 10px;
}

.align-self {
  align-self: center;
}

.center-text {
  text-align: center;
}

.blue-box {
  width: 100%;
  height: 100px;
  background-color: var(--ion-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 5px #ffffff;
  font-size: 1.7em;
  align-self: center;
}

.red-box {
  width: 100%;
  height: 100px;
  background-color: var(--ion-color-danger);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 5px #ffffff;
  font-size: 1.7em;
  align-self: center;
}

.green-box {
  width: 100%;
  height: 100px;
  background-color: var(--ion-color-success);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 5px #ffffff;
  font-size: 1.7em;
  align-self: center;
}

.pause-dialog {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  border-color: #000000;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.font-x-lg {
  font-size: 2em;
}

.text-yellow {
  color: #ff4000;
}

.text-blue {
  color: var(--ion-color-primary);
}

.background-blue {
  --border-radius: 5px;
  --box-shadow: 3px 5px #b1b1b1;
  font-weight: bold;
  height: 50px;
  font-size: large;
  --background: var(--ion-color-primary);
}

.background-green {
  --border-radius: 5px;
  --box-shadow: 3px 5px #b1b1b1;
  font-weight: bold;
  height: 50px;
  font-size: large;
  --background: var(--ion-color-success);
}
