<ion-content [fullscreen]="true" [scrollY]="false">
  <div *ngIf="!paused" class="flex column space-around max-height black-text padding">
    <div class="flex space-between">
      <p class="bold-text font-lg margin-zero"><span>{{ points }}</span> pontos</p>
      <ion-icon name="pause" class="icon-lg" (click)="switchPaused()"></ion-icon>
    </div>
    <p class="font-lg">Simplifique:</p>
    <div [mathjax]="'$'+currentChallenge.challenge+'$'" class="font-lg align-self"></div>
    <p class="bold-text font-md">Passo <span>{{ currentStep }}</span></p>


    <div *ngIf="correctAnswerIndex === 0"
      [mathjax]="currentStep === 1 ? '$'+currentChallenge.step1+'$' :
      currentStep === 2 ? '$'+currentChallenge.step2+'$' :
      '$'+currentChallenge.answer+'$'" [ngClass]="!answerSubmited ? 'blue-box' : 'green-box'"
      (click)="submitAnswer(0)"></div>

    <div *ngIf="correctAnswerIndex === 1"
      [mathjax]="currentStep === 1 ? '$'+randomChallenge.step1+'$' :
      currentStep === 2 ? '$'+randomChallenge.step2+'$' :
      '$'+randomChallenge.answer+'$'"  [ngClass]="!answerSubmited ? 'blue-box' : 'red-box'"
      (click)="submitAnswer(0)"></div>

    <p class="bold-text font-md center-text">ou</p>

    <div *ngIf="correctAnswerIndex === 1"
      [mathjax]="currentStep === 1 ? '$'+currentChallenge.step1+'$' :
      currentStep === 2 ? '$'+currentChallenge.step2+'$' :
      '$'+currentChallenge.answer+'$'"  [ngClass]="!answerSubmited ? 'blue-box' : 'green-box'"
      (click)="submitAnswer(1)"></div>

    <div *ngIf="correctAnswerIndex === 0"
      [mathjax]="currentStep === 1 ? '$'+randomChallenge.step1+'$' :
      currentStep === 2 ? '$'+randomChallenge.step2+'$' :
      '$'+randomChallenge.answer+'$'"  [ngClass]="!answerSubmited ? 'blue-box' : 'red-box'"
      (click)="submitAnswer(1)"></div>

    <p class="bold-text font-md center-text">?</p>
  </div>

  <div *ngIf="paused" class="flex column space-around max-height black-text padding">
    <div class="pause-dialog">
      <p class="font-x-lg text-yellow bold-text center-text">PAUSE</p>
      <p class="font-lg text-blue bold-text center-text">Sua pontuação foi<br />salva</p>
      <div class="flex space-around">
        <ion-button class="background-blue" [routerLink]="['/tabs', 'practice']">Menu</ion-button>
        <ion-button class="background-green" (click)="switchPaused()">Voltar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
