<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="flex column space-around max-height black-text padding">
    <div class="flex space-between">
      <p class="bold-text font-lg margin-zero"><span>0</span> pontos</p>
      <ion-icon name="pause" class="icon-lg"></ion-icon>
    </div>
    <p class="font-lg">Simplifique:</p>
    <div [mathjax]="currentChallenge.challenge" class="font-lg align-self"></div>
    <p class="bold-text font-md">Passo <span>1</span></p>


    <div *ngIf="correctAnswerIndex === 0"
      [mathjax]="currentStep === 1 ? currentChallenge.step1 :
      currentStep === 2 ? currentChallenge.step2 :
      currentChallenge.answer" class="font-lg align-self blue-box"></div>

    <div *ngIf="correctAnswerIndex === 1"
      [mathjax]="currentStep === 1 ? randomChallenge.step1 :
      currentStep === 2 ? randomChallenge.step2 :
      randomChallenge.answer" class="font-lg align-self blue-box"></div>

    <p class="bold-text font-md center-text">ou</p>



    <div [mathjax]="currentChallenge.step1" class="font-lg align-self blue-box"></div>


    <p class="bold-text font-md center-text">?</p>
  </div>
</ion-content>
